a {
	color: inherit;
	text-decoration: none;
}

:root {
	--bgclr: #e0e0e0;
	--shdwclr: #b9b9b9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	font-family: 'lato', sans-serif;
	transition: 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}
body {
	height: 100vh;
	/* display: flex;
	width: 100%; */
	justify-content: center;
	background-color: black;
}
