.navbar {
	margin: 30px auto;
	margin-top: 0;
	padding: 0 20px;
	height: 60px;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	/* background-color: var(--bgclr); */
	/* box-shadow: 15px 15px 50px var(--shdwclr), -15px -15px 30px #ffffff; */
	user-select: none;
	z-index: 999;
	margin-top: 20px;

	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
}
.ulClass {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.liClass {
	color: white;
	margin: 0 10px;
	padding: 10px 25px;
	border-radius: 10px;
	width: auto;
	text-align: center;
}
.liClass:hover {
	color: white;
	box-shadow: 5px 1px 15px #2196f3, -5px -1px 15px #e91e63;
}
@media screen and (max-width: 600px) {
	.navbar {
		width: 95%;
		top: 0;
		position: fixed;
		margin-top: 5px;
		left: 2.5%;
		/* margin-bottom: 100px; */
	}
	.liClass {
		margin: 0;
	}
}
